.list-container {
  /* margin-top: 10px; */
  height: 100%;
  overflow-y: auto;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.list-item-container {
  width: 100%;
  cursor: pointer;
  padding: 9px;
}

.item-information-container {
  display: flex;
}

.photo-style {
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 56px;
}

.info-main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-content {
  margin-left: 10px;
  text-align: left;
}

.title-content {
  color: white;
  font-size: 1rem;
}

.artist-content {
  color: rgb(180, 179, 179);
  padding: 2px;
  font-size: 12px;
}

.time-style {
  color: rgb(180, 179, 179);
  font-size: 15px;
  padding: 10px;
}
