.playersection-main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  flex: 2;
}

.playersection-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-content {
  color: white;
  font-size: 20px;
  text-align: left;
  width: 100%;
}

.subTitle-content {
  color: rgb(180, 179, 179);
  font-size: 12px;
  text-align: left;
  width: 100%;
  margin-top: 5px;
}

.cover-photo-style {
  width: 500px;
  height: 500px;
  margin-top: 20px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .cover-photo-style {
    width: 95%;
    height: 95vw;
    max-width: 100%;
    object-fit: cover;
    margin-top: 0;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rewind-button,
.forward-button,
.option-button,
.play-button,
.volume-button {
  background-color: rgba(39, 39, 39, 0);
  border-radius: 15px;
  height: 30px;
  border: none;
  cursor: pointer;
  width: 30px;
  margin: 6px;
}
