* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(../fonts/BasierCircle-Regular.otf) format("opentype");
}

body {
  font-family: "MyFont";
}

.App {
  text-align: center;
}

.App-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.4s linear;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  background-color: black;
}

.MuiPopover-paper {
  background-color: black !important;
}
