* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./fonts/BasierCircle-Regular.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
