.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  flex: 2;
  margin-top: 50px;
  padding: 4px;
  width: 100%;
}

.title-container {
  text-align: left;
  width: 100%;
  color: white;
  font-size: 2rem;
  padding-left: 20px;
}
